<a href="https://colab.research.google.com/github/Assassinationrogue/Test_column/blob/main/intr_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Printing first code by defining function with double arguments**

In [ ]:
def greeting(first_name, last_name):
                   print(f"Hello {first_name} {last_name}")


greeting ("Saumyadip", "Biswas")

**String Replacement Fields**

In [2]:
print("There are {0} days in {1}, {2}, {3}, {4}, {5}, {6}, and {7}"
      .format(31,"Jan","Mar","May", "Jul", "Aug","Oct","Dec"))


print("""
Jaunary {1}
February {0}
March {1}
April {2}
May {1}
June {2}
July {1}
August {1}
September {2}
October {1}
November {2}
December {1}
""".format(28,31,30))

There are 31 days in Jan, Mar, May, Jul, Aug, Oct, and Dec

Jaunary 31
February 28
March 31
April 30
May 31
June 30
July 31
August 31
September 30
October 31
November 30
December 31

In [ ]:
print ("="*40)
print ("author: johnsmith@sample.com")
print ("date: 01-01-2021")
print ("="*40)

========================================
author: johnsmith@sample.com
date: 01-01-2021
========================================

**String formatting**

In [6]:
for i in range (1, 13):
     print ("No. {0:2} squared is {1:4} and cubed is {2:4}".format(i,i**2,i**3))  # here we have refered column number after the replacement number i.e., 0 is replacement number and 2 is column number.


print ()

for i in range (1, 13):
     print ("No. {0:<2} squared is {1:<4} and cubed is {2:<4}".format(i,i**2,i**3))  #greater than sign has been used before column number to make the text left align by default it is right alinged.
  

print ()

for i in range (1, 13):
     print ("No. {0:^2} squared is {1:^4} and cubed is {2:^4}".format(i,i**2,i**3))  # for centre alinged ^ has been used.

No.  1 squared is    1 and cubed is    1
No.  2 squared is    4 and cubed is    8
No.  3 squared is    9 and cubed is   27
No.  4 squared is   16 and cubed is   64
No.  5 squared is   25 and cubed is  125
No.  6 squared is   36 and cubed is  216
No.  7 squared is   49 and cubed is  343
No.  8 squared is   64 and cubed is  512
No.  9 squared is   81 and cubed is  729
No. 10 squared is  100 and cubed is 1000
No. 11 squared is  121 and cubed is 1331
No. 12 squared is  144 and cubed is 1728

No. 1  squared is 1    and cubed is 1
No. 2  squared is 4    and cubed is 8
No. 3  squared is 9    and cubed is 27
No. 4  squared is 16   and cubed is 64
No. 5  squared is 25   and cubed is 125
No. 6  squared is 36   and cubed is 216
No. 7  squared is 49   and cubed is 343
No. 8  squared is 64   and cubed is 512
No. 9  squared is 81   and cubed is 729
No. 10 squared is 100  and cubed is 1000
No. 11 squared is 121  and cubed is 1331
No. 12 squared is 144  and cubed is 1728

No. 1  squared is  1   and cubed is  1
No. 2  squared is  4   and cubed is  8
No. 3  squared is  9   and cubed is  27
No. 4  squared is  16  and cubed is  64
No. 5  squared is  25  and cubed is 125
No. 6  squared is  36  and cubed is 216
No. 7  squared is  49  and cubed is 343
No. 8  squared is  64  and cubed is 512
No. 9  squared is  81  and cubed is 729
No. 10 squared is 100  and cubed is 1000
No. 11 squared is 121  and cubed is 1331
No. 12 squared is 144  and cubed is 1728